extend default

block content
  p.
    Since a Super Representative is actually a collection of people backed by an organization, I thought "what if the members of the Reddit, Twitter, and YouTube community banded together to become a SR Organization?" There won't be a seat at the table for any one of us, but perhaps there's one for all of us. Alone we each stand zero chance of winning an election, but together we can vote ourselves in.

  p.
    I will be running a cloud based MainNet node from day one, starting with a 2 CPU VM. My goal is uptime and reliability. If there is enough support for my idea I will start a dapp based token with 10,000 TRX. Community members who wish to take on the responsibilities of management can purchase dapp tokens for voting rights. The primary question for token elections will be the amount of TRX rewards payout to be shared with TRX holders who voted for this node as Super Representative.

  p. The goal of TRX Community Token is to create a broad base of support among TRX coin holders who wish to wield their inherent right to participate in the management of the TRON network. Our intention is to become self-empowering; that by giving TRX holders a stake in one of the candidates they will be more likely to vote for that candidate.

  p.
    You can read more <a href="https://github.com/bondibox/community-node/">here</a>