doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Community Node for TRON Network
  body
    .header
      h1.page-title Community Node for TRON Network

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') News
      li: a(href='#about') About
      li: a(href='#contact') Status
    
    .main-content
      block content

    .footer
      p Copyright © 2018 bondibox. 
