extend default

block content

  p.
    On May 31, 2018, Tron Labs will launch the Tron main net. The blockchain will be supported by nodes, and 27 of those nodes will be elected daily to be Super Representative Witness Nodes. 

  p.
    I am running a cloud based node with a focus on uptime and reliability. I hope to meet the performance levels sufficient to get my node voted into the group of candidates for Super Representative, after which the node may or may not enter rotation as an earning Super Representative. Originally I had welcomed the notion of taking a seat at the table next to other members of the TRON community, then I realized there probably won't be room for even one of us.

  p.
    And then... it hit me.

  p.
    Since a TRON Network Super Representative is actually a collection of people backed by an organization, I wonder "what if the members of the Reddit, Twitter, and YouTube community banded together to become a Super Representative?" There won't be a seat at the table for any one of us, but perhaps there's one for all of us. Alone we each stand zero chance of winning an election, but together we can vote ourselves in.


  p.
    The goal of TRX Community Token is to create a broad base of support among TRX coin holders who wish to wield their inherent right to participate in the management of the TRON network. Our intention is to become self-empowering; that by giving TRX holders a stake in one of the candidates they will be more likely to vote for that candidate.

  p.
    You can read more <a href="https://github.com/bondibox/community-node/">here</a>